/* Estilo general para todo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-wrapper {
    display: flex;
    min-height: 100vh; /* Mantiene que el contenedor use toda la altura de la ventana */
    flex-direction: column;
}

/* Estilo para el sidebar */
.sidebar {
    width: 400px;
    background-color: #0f0f0f;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    border-right: 2px solid #0f0f0f;
    z-index: 100;
}

/* Logo centrado y estilo de la línea */
.logo {
    padding: 20px;
    text-align: center; /* Centramos el texto dentro del contenedor */
    font-size: 2em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0; /* Eliminamos margen para un mejor centrado */
}

.logo-container {
    display: flex; /* Usamos flexbox para centrar el logo */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100px; /* Altura fija para el contenedor del logo */
}

.line {
    width: 80%; /* Ajusta el ancho de la línea */
    border-bottom: 1px solid #aaa; /* Color de la línea */
    margin: 0 auto 10px auto; /* Centra la línea horizontalmente */
}

.finca-text {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 20px; /* Espacio debajo del texto */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #7E7E7E;
}

/* Estilo para el contenedor de contenido */
.content-wrapper {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
    overflow-y: auto; /* Permite que el contenido se desplace si es muy alto */
    margin-left: 400px; /* Evita que el contenido se superponga con el sidebar */
}

.fa-home{
    color: #B34BFF;
}

/* admin-dashboard.component.css */
/* Estilo para el botón de cierre de sesión */
.logout-button {
    background-color: #B34BFF; /* Color rojo */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; /* Espaciado lateral para hacerlo más compacto */
    font-size: 1.2em;
    cursor: pointer;
    margin: 0; /* Eliminamos margen para centrar mejor */
    transition: background-color 0.3s ease;
    position: absolute; /* Posiciona el botón en la parte inferior del sidebar */
    bottom: 20px; /* Espacio desde la parte inferior */
    left: 50%; /* Para centrar el botón horizontalmente */
    transform: translate(-50%, 0); /* Ajuste para centrar correctamente */
    width: auto; /* Ancho automático para que no ocupe todo el ancho */
}

.logout-button:hover {
    background-color: #1a0028; /* Color rojo más oscuro al pasar el ratón */
}

/*.content-wrapper{
    background-color: #0f0f0f;
}*/

/* Header adaptado al sidebar */
.header {
    background-color: #0f0f0f;
    padding: 10px;
    height: 10%; /* Altura más grande */
    width: calc(100% - 400px); /* Para restar el ancho del sidebar */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

/* Ajuste para el contenido */
.content-wrapper {
    padding: 20px;
    padding-top: 170px; /* Espacio para evitar que el contenido esté debajo del header */
    margin-left: 400px; /* Dejar espacio para el sidebar */
    background-color: #000000e0;
    height: calc(100vh - 150px); /* Ajuste dinámico según la altura del header */
    overflow-y: auto;
}

.content-wrapper {
    padding-top: 100px; /* Ajusta para evitar que el contenido esté debajo del header */
}

.profile-circle img {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px;
    object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
    border-radius: 50%; /* Hace que la imagen sea redonda */
  }
  

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  .profile-selector {
    position: relative;
  }
  
  .profile-menu,
  .notification-menu {
    position: absolute;
    top: 100%; /* Ajusta según necesites */
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
  
  .notification-icon {
    position: relative;
  }
  
  .notification-count {
    position: absolute;
    top: -5px; /* Ajusta según necesites */
    right: -10px; /* Ajusta según necesites */
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
  }
  
