body {
    background-color: #161615 !important; /* Color de fondo de la página */
    display: flex; /* Usar flexbox para centrar vertical y horizontalmente */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Altura total de la ventana */
    margin: 0; /* Eliminar margen predeterminado del body */
}

.container {
    color: white;
    position: relative;
    font-family: sans-serif;
    max-width: 600px; /* Ancho máximo de la tarjeta */
    width: 100%; /* Ancho del contenedor */
    margin: 0; /* Eliminar márgenes para centrado */
    padding: 20px; /* Espaciado interno */
}
  
.container::before,
.container::after {
    content: "";
    background-color: #fab5704c;
    position: absolute;
}
  
.container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
}
  
.container::after {
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
}
  
.box {
    width: 100%; /* Asegurar que la caja use el ancho completo de .container */
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid #b44bffa6;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Cambia a flex-start para apilar elementos */
    min-height: 400px; /* Altura mínima para la tarjeta */
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Asegurar que los elementos se apilen verticalmente */
    justify-content: flex-start; /* Alinear al principio */
}
  
.title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1em;
}
  
.progress {
    height: 5px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
}
  
.progress-bar {
    width: 0;
    height: 40px;
    background-color: #b44bff;
    transition: width 0.5s;
    width: 400px;
}
  
.btn-block {
    width: 400px; /* Establecer ancho fijo del botón */
    margin: 20px auto; /* Alinear el botón al centro horizontalmente */
    display: block;
    background-color: #b44bff;
}
  
.text-danger {
    color: red;
}
  
button {
    transition: background-color 0.3s ease;
}
  
button:disabled {
    background-color: #ccc;
}
  
.box:hover {
    box-shadow: 0px 0px 20px 1px #ae00ff6b;
    border: 1px solid rgba(195, 0, 255, 0.89);
}
  
.animate__fadeIn {
    animation: fadeIn 0.8s ease;
}
  
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}