body {
    background: url('./assets/cafe2\ 1.png') no-repeat center center fixed;
    background-size: cover;
}

.form-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 2rem; /* Ajusta este valor según lo necesites */
}

.input-field {
    transition: all 0.3s ease;
}

.input-field:focus {
    border-color: #4a90e2;
    outline: none;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.5);
}

.required::after {
    content: '*';
    color: red;
    margin-left: 4px;
}

#message {
    font-size: 2rem; /* Tamaño de letra grande */
    font-weight: bold;
    color: #4caf50; /* Verde para indicar éxito */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: scale(0); /* Inicialmente invisible */
    opacity: 0;
}

/* Estilos para el botón de "Iniciar sesión" */
#loginButton {
    display: none; /* Oculto por defecto */
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loginButton:hover {
    background-color: #357ab7; /* Cambio de color al pasar el mouse */
}
