<div class="home-container">
    <h1>Bienvenido a la Aplicación de Gestión</h1>
    
    <div class="role-selection">
        <div class="role-card admin">
            <h2>Ser Administrador</h2>
            <div class="role-image admin-image"></div> <!-- Imagen para administrador -->
            <p>
                Como Administrador, gestionarás tu finca, registrarás la recolección y controlarás todas las operaciones relacionadas con ella. Tendrás control total sobre la administración de tu finca, asegurándote de que todas las actividades se realicen de manera eficiente.
            </p>
            <button (click)="navigateToAdmin()" id="admin-button">Seleccionar Rol</button>
        </div>
    
        <div class="role-card collector">
            <h2>Ser Recolector</h2>
            <div class="role-image collector-image"></div> <!-- Imagen para recolector -->
            <p>
                Como Recolector, podrás unirte a una finca, ver tu liquidación y obtener los beneficios que ofrece la finca. Tu rol es fundamental para asegurar una recolección eficiente y recibir las compensaciones correspondientes.
            </p>
            <button (click)="navigateToCollector()" id="collector-button">Seleccionar Rol</button>
        </div>
    </div>
</div>
