<div class="flex flex-col min-h-screen bg-gray-100">
  <div class="flex-grow flex items-center justify-center">
    <!-- Formulario para unirse a la finca -->
    <div class="bg-white shadow-md rounded-lg p-8 w-full max-w-md">
      <h2 class="text-2xl font-semibold text-center mb-6 text-gray-800">Unirse a la Finca</h2>
      <form (ngSubmit)="onSubmit()" class="space-y-4">
        <div class="form-group">
          <label for="identificationNumber" class="block text-gray-700">Número de Identificación</label>
          <input 
            type="text" 
            id="identificationNumber" 
            [(ngModel)]="formData.identificationNumber" 
            name="identificationNumber" 
            class="input-field border rounded w-full py-2 px-3 focus:outline-none focus:ring focus:ring-purple-300" 
            required
          >
        </div>
        
        <div class="form-group">
          <label for="codigoUnico" class="block text-gray-700">Código de la Finca</label>
          <input 
            type="text" 
            id="codigoUnico" 
            [(ngModel)]="formData.codigoUnico" 
            name="codigoUnico" 
            class="input-field border rounded w-full py-2 px-3 focus:outline-none focus:ring focus:ring-purple-300" 
            required
          >
        </div>
        
        <div class="form-actions">
          <button type="submit" class="btn btn-primary w-full bg-purple-600 text-white py-2 rounded hover:bg-purple-700 transition duration-300">Unirse</button>
        </div>
      </form>
    </div>
  </div>
  
  <footer class="bg-gray-800 text-center py-4">
    <p class="text-white text-lg" style="color: purple;">&#64;Recoffee</p>
  </footer>
</div>
