body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .input-field {
    transition: border-color 0.3s;
  }
  
  .input-field:focus {
    border-color: #6b46c1; /* Color morado */
  }
  
  .btn-primary {
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #4c51bf; /* Color morado oscuro */
  }
  