<div class="account-container">
    <h2>Datos de la Cuenta</h2>
  
    <form (ngSubmit)="updateUser()" #userForm="ngForm">
      <div>
        <label for="userName">Nombre de Usuario:</label>
        <input type="text" id="userName" [(ngModel)]="user.userName" name="userName" required (ngModelChange)="checkUserFormChanges()" />
      </div>
  
      <button type="submit" [disabled]="!userFormChanged || userForm.invalid">Actualizar Usuario</button>
    </form>
  
    <h2>Datos Personales</h2>
  
    <form (ngSubmit)="updatePerson()" #personForm="ngForm">
      <div>
        <label for="firstName">Primer Nombre:</label>
        <input type="text" id="firstName" [(ngModel)]="person.firstName" name="firstName" required (ngModelChange)="checkPersonFormChanges()" />
      </div>
  
      <div>
        <label for="secondName">Segundo Nombre:</label>
        <input type="text" id="secondName" [(ngModel)]="person.secondName" name="secondName" (ngModelChange)="checkPersonFormChanges()" />
      </div>
  
      <div>
        <label for="firstLastName">Primer Apellido:</label>
        <input type="text" id="firstLastName" [(ngModel)]="person.firstLastName" name="firstLastName" required (ngModelChange)="checkPersonFormChanges()" />
      </div>
  
      <div>
        <label for="secondLastName">Segundo Apellido:</label>
        <input type="text" id="secondLastName" [(ngModel)]="person.secondLastName" name="secondLastName" (ngModelChange)="checkPersonFormChanges()" />
      </div>
  
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="person.email" name="email" required email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" (ngModelChange)="checkPersonFormChanges()" #emailField="ngModel" />
        <div *ngIf="emailField.invalid && emailField.touched" class="error-message">
          El correo debe ser válido.
        </div>
      </div>
  
      <div>
        <label for="dateOfBirth">Fecha de Nacimiento:</label>
        <input
          type="date"
          id="dateOfBirth"
          [(ngModel)]="person.dateOfBirth"
          name="dateOfBirth"
          required
          (ngModelChange)="checkPersonFormChanges(); validateDateOfBirth()"
          #dateOfBirthField="ngModel"
        />
        <div *ngIf="dateErrorMessage" class="error-message">
          {{ dateErrorMessage }}
        </div>
      </div>
      
  
      <div>
        <label for="gender">Género:</label>
        <select id="gender" [(ngModel)]="person.gender" name="gender" required (ngModelChange)="checkPersonFormChanges()">
          <option value="male">Masculino</option>
          <option value="female">Femenino</option>
        </select>
      </div>
  
      <div>
        <label for="city">Ciudad:</label>
        <select id="city" [(ngModel)]="person.cityId" name="cityId" required (ngModelChange)="checkPersonFormChanges()">
          <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
        </select>
      </div>
  
      <div>
        <label for="typeDocument">Tipo de Documento:</label>
        <select id="typeDocument" [(ngModel)]="person.typeDocument" name="typeDocument" required (ngModelChange)="checkPersonFormChanges()">
          <option value="CC">Cédula de ciiiudadanía</option>
          <option value="TI">Tarjeta de Identidad</option>
        </select>
      </div>
  
      <div>
        <label for="numberDocument">Número de Documento:</label>
        <input type="text" id="numberDocument" [(ngModel)]="person.numberDocument" name="numberDocument" required pattern="^[0-9]*$" (ngModelChange)="checkPersonFormChanges()" #documentField="ngModel" />
        <div *ngIf="documentField.invalid && documentField.touched" class="error-message">
          El número de documento solo puede contener números.
        </div>
      </div>
  
      <button type="submit" [disabled]="!personFormChanged || personForm.invalid">Actualizar Datos Personales</button>
    </form>
  </div>