<body>
  <div class="container flex items-center justify-center min-h-screen p-4 bg-cover bg-center">
    <div class="register-container">
      <h2>Registrar Usuario y Persona</h2>
      <form #userForm="ngForm" class="grid grid-cols-2 gap-4" (ngSubmit)="onSubmit(userForm)">
        
        <!-- Información de Persona -->
        <div class="col-span-2 text-xl font-semibold">Información de Persona</div>
        
        <div>
          <label for="firstName" class="required">Nombre:<span class="text-red-500">*</span></label>
          <input type="text" id="firstName" name="firstName" class="input-field w-full p-2 border rounded" [(ngModel)]="person.firstName" required placeholder="Ingrese su nombre" />
        </div>

        <div>
          <label for="secondName">Segundo Nombre:</label>
          <input type="text" id="secondName" name="secondName" class="input-field w-full p-2 border rounded" [(ngModel)]="person.secondName" placeholder="Segundo nombre (opcional)" />
        </div>

        <div>
          <label for="firstLastName" class="required">Primer Apellido:<span class="text-red-500">*</span></label>
          <input type="text" id="firstLastName" name="firstLastName" class="input-field w-full p-2 border rounded" [(ngModel)]="person.firstLastName" required placeholder="Ingrese su primer apellido" />
        </div>

        <div>
          <label for="secondLastName">Segundo Apellido:</label>
          <input type="text" id="secondLastName" name="secondLastName" class="input-field w-full p-2 border rounded" [(ngModel)]="person.secondLastName" placeholder="Segundo apellido (opcional)" />
        </div>

        <div class="col-span-2">
          <label for="email" class="required">Correo:<span class="text-red-500">*</span></label>
          <input type="email" id="email" name="email" class="input-field w-full p-2 border rounded" [(ngModel)]="person.email" required placeholder="Ingrese su correo electrónico" />
        </div>

        <div>
          <label for="dateOfBirth" class="required">Fecha de Nacimiento:<span class="text-red-500">*</span></label>
          <input type="date" id="dateOfBirth" name="dateOfBirth" class="input-field w-full p-2 border rounded" [(ngModel)]="person.dateOfBirth" required />
        </div>

        <div>
          <label for="gender" class="required">Género:<span class="text-red-500">*</span></label>
          <select id="gender" name="gender" class="input-field w-full p-2 border rounded" [(ngModel)]="person.gender" required>
            <option value="">Seleccione un género</option>
            <option value="MASCULINO">Masculino</option>
            <option value="FEMENINO">Femenino</option>
          </select>
        </div>

        <div>
          <label for="cityId" class="required">Ciudad:<span class="text-red-500">*</span></label>
          <select id="cityId" name="cityId" class="input-field w-full p-2 border rounded" [(ngModel)]="person.cityId" required>
            <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
          </select>
        </div>

        <div>
          <label for="typeDocument" class="required">Tipo de Documento:<span class="text-red-500">*</span></label>
          <select id="typeDocument" name="typeDocument" class="input-field w-full p-2 border rounded" [(ngModel)]="person.typeDocument" required>
            <option value="">Seleccione un tipo de documento</option>
            <option value="CC">Cédula de Ciudadanía</option>
            <option value="TI">Tarjeta de identidad</option>
          </select>
        </div>

        <div class="col-span-2">
          <label for="numberDocument" class="required">Número de Documento:<span class="text-red-500">*</span></label>
          <input type="text" id="numberDocument" name="numberDocument" class="input-field w-full p-2 border rounded" [(ngModel)]="person.numberDocument" required placeholder="Ingrese su número de documento" />
        </div>

        <!-- Información de Usuario -->
        <div class="col-span-2 text-xl font-semibold mt-4">Información de Usuario</div>

        <div>
          <label for="userName" class="required">Nombre de Usuario:<span class="text-red-500">*</span></label>
          <input type="text" id="userName" name="userName" class="input-field w-full p-2 border rounded" [(ngModel)]="user.userName" required placeholder="Ingrese nombre de usuario" pattern="[a-z]+" title="Solo letras minúsculas y sin espacios" />
        </div>

        <div class="relative">
          <label for="password" class="required">Contraseña:<span class="text-red-500">*</span></label>
          <input type="password" id="password" name="password" class="input-field w-full p-2 border rounded" [(ngModel)]="user.password" required placeholder="Ingrese su contraseña" minlength="8" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Debe contener al menos 8 caracteres, una letra mayúscula, una minúscula y un número" />
          <input type="checkbox" class="absolute right-2 top-10" (click)="togglePasswordVisibility()">  La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula y un número.
        </div>

        <!-- Mensaje de validación de contraseña -->
        <div *ngIf="passwordInvalid" class="text-red-500 col-span-2">
          La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula y un número.
        </div>


        <div class="col-span-2 flex justify-center">
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
            Registrar
          </button>
        </div>


      </form>
      <div id="message" class="text-center mt-4"></div>
    </div>
  </div>
</body>
