.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;  
}

.title {
  font-size: 24px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-new {
  background-color: #B34BFF; /* Color nuevo para agregar */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-new:hover {
  background-color: #9c3ce6; /* Un tono más oscuro en hover */
  transform: scale(1.05);
}

.table-wrapper {
  margin-bottom: 20px;
  overflow-x: auto; /* Para hacerla responsive */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Bordes redondeados */
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  background-color: #0f0f0f;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.table th, .table td {
  padding: 15px;
  text-align: left;
}

.table td {
  background-color: #0f0f0f;
  border-bottom: 1px solid #9c3ce6;
  color: #ffffff;
}

.table th {
  background-color: #1a0028; 
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.table tr:last-child td {
  border-bottom: none; 
}

.table tr:hover {
  background-color: #1a0028;
  cursor: pointer;
}

.table th:first-child, .table td:first-child {
  border-top-left-radius: 10px;
}

.table th:last-child, .table td:last-child {
  border-top-right-radius: 10px;
}

.btn-icon {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-icon:hover {
  transform: scale(1.1);
}

.no-results {
  text-align: center;
  font-style: italic;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  padding: 20px;
}

.role-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container i {
  margin-right: 10px;
  color: #9c3ce6;
}

.input-field, .checkbox-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-field:focus {
  border-color: #9c3ce6;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.error-message {
  color: #9c3ce6;
  font-size: 12px;
  margin-top: 5px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.btn-primary {
  background-color: #1a0028; /* Color nuevo para actualizar */
  color: white;
  border: none;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
  background-color: #160022; /* Un tono más oscuro en hover */
  transform: scale(1.05);
}

.btn-secondary {
  background-color: #6c757d; /* Se mantiene igual para cancelar */
  color: white;
  border: none;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-secondary:hover {
  background-color: #5a6268; /* Hover se mantiene igual */
  transform: scale(1.05);
}
