.farm-card {
    background-color: #0f0f0f; /* Color de fondo de la tarjeta */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
    padding: 20px; /* Espaciado interno */
    margin: 20px; /* Espaciado externo */
    transition: transform 0.2s; /* Efecto de transición */
  }
  
  .farm-card:hover {
    transform: scale(1.02); /* Efecto de aumento al pasar el mouse */
  }
  
  .farm-card h2 {
    font-size: 1.5em; /* Tamaño de la fuente del título */
    margin-bottom: 10px; /* Espaciado inferior */
    color: #ffffff;
  }
  
  .farm-card p {
    font-size: 1em; /* Tamaño de la fuente de los párrafos */
    margin: 5px 0; /* Espaciado superior e inferior */
    color: #ffffff; /* Color del texto */
  }
  
  .farm-card strong {
    color: #ffffff; /* Color del texto en negrita */
  }
  